---
import { Image, Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { formatDate, normalizeDate } from "@/lib/utils/date";
import Time04 from "@/assets/svgs/time-04.astro";
import Calendar04 from "@/assets/svgs/calendar-04.astro";
import Divider from "@/components/bases/divider.astro";
import Share from "@/components/elements/share.astro";

type Props = {
  article: CollectionEntry<"articles">;
  readingTime: string;
};

const { article, readingTime } = Astro.props;
---

<section
  class="mb-8 flex flex-col lg:flex-col-reverse border-b border-b-base-300 lg:border-none pb-4 pt-0 lg:pt-6"
>
  <div
    class="container px-0 max-w-5xl lg:mt-4 overflow-hidden aspect-[20/9] lg:rounded-md"
  >
    {typeof article.data.cover === 'string' ? (
      <img
        src={article.data.cover}
        alt="article"
        loading="eager"
        class="w-full h-full object-cover object-center"
      />
    ) : (
      <Picture
        src={article.data.cover}
        alt="article"
        layout="full-width"
        loading={"eager"}
        formats={["avif", "webp"]}
        class="w-full h-full object-center"
      />
    )}
  </div>
  <div class="container max-w-5xl">
    <h1 class="text-3xl lg:text-4xl font-bold text-left text-pretty">
      {article.data.title}
    </h1>
    <div class="flex flex-col gap-4 items-start mt-2 lg:mt-6 text-sm">
      <div class="text-base-content/70 flex items-center gap-2">
        <span class="flex items-center gap-1">
          <Calendar04 size="15" />
          <time
            class="hidden lg:block"
            datetime={normalizeDate(article.data.publishedTime)}
            >{
              formatDate(normalizeDate(article.data.publishedTime), "long")
            }</time
          >
          <time
            class="block lg:hidden"
            datetime={normalizeDate(article.data.publishedTime)}
            >{
              formatDate(normalizeDate(article.data.publishedTime), "short")
            }</time
          >
        </span>
        <Divider />
        <span class="flex items-center gap-1">
          <Time04 size="15" />
          <span>{readingTime}</span>
        </span>
      </div>
      <div class="w-full flex flex-wrap gap-2 items-center justify-end">
        <Share text={article.data.title} />
      </div>
    </div>
  </div>
</section>